<div id="<%= dom_id rail %>">
  <p>
    <strong>Generate:</strong>
    <%= rail.generate %>
  </p>

  <p>
    <strong>Scaffold:</strong>
    <%= rail.scaffold %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rail.User %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= rail.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= rail.email %>
  </p>

</div>
