<h1>Booking List</h1>

<table>
  <thead>
  <tr>
    <th>Booking ID</th>
    <th>User</th>
    <th>Room</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.user.name %></td> <!-- assuming user has a full_name method -->
      <td><%= booking.room.number %></td> <!-- assuming room has a number attribute -->
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td><%= link_to 'Show', booking %></td>
      <td><%#= link_to 'Edit', edit_booking_path(booking) %></td>
      <td><%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Booking', new_booking_path %>
